# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
venv/
.env

# Ignore environment folders
venv/
.env

# Ignore VS Code settings
.vscode/

# Ignore data/output
*.log
*.tmp
output/