# Virtual environment
venv/
MscProject/ # If this is also a venv

# Jupyter specific
.ipynb_checkpoints/
*.ipynb_checkpoints # Old version
.jupyter/

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Node
**/node_modules
**/npm-debug.log
**/yarn-error.log
